<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raman Spectroscope</title>
</head>
<body>
    <h2>Upload and add Sample to Sample Bank</h2>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="text" name="sample_id" placeholder="Enter Sample ID" required>
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Add Sample</button>
    </form>
    
    <a href="/library">View Reference Library</a>
    <a href="/sample_history">View Sample History</a>
    {% if results %}
    <h2>Results</h2>
    <ul>
        {% for key, value in results.items() %}
        <li>{{ key }}: {{ value|round(2) * 100 }}%</li>
        {% endfor %}
    </ul>
    <h2>Best Match: {{ best_match }} {{ score|round(2) * 100 }}%</h2>
    <div>
        <h3>Sample Plot</h3>
        <img src="{{ url_for('sample_plot_retrieve', filename=sample_plot) }}" alt="Sample Spectrum">
        <h3>Best Match Plot</h3>
        <img src="{{ url_for('plot', filename=best_match + '_with_peaks.png') }}" alt="{{ best_match }} Spectrum">
    </div>
    {% endif %}
